@import url(/dist/css/main.css);
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Reenie+Beanie&family=Rubik+Moonrocks&display=swap');



body{
     line-height: 3rem;
     padding: 40px;
    
}


#createAccount{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 40px;
   
    background-color: yellow;
    position: relative;
    // align-items: center;
    justify-items: center;
    
}
#accountDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    width: 70%;
    height: 100%;
    padding: 0;
    position: relative;
    gap: 25px;

    
}
input{
    font-size: medium;
    padding: 10px;
    color: grey;
    border-radius: 20px;
    margin: 0px 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px #888, -2px -2px 3px #888;
    
}
select{
    font-size: medium;
    padding: 10px;
    color: grey;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px #888, -2px -2px 3px #888;
    
}
label{
    margin: 0px 20px;
}
div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
#dateOfBirth{
    gap: 0px;
    margin: 0px;
    padding: 10px 0px;
}
#terms{
    width:30px;
    height: 20px;
}
button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(26, 80, 1);
    color: white;
    font-size: large;
    }
button:hover{
    background-color:  rgb(242, 65, 34);
    color: white;
    font-size: x-large;
}
#submit{
    justify-content: center;
}
input:hover{
    background-color: rgb(232, 230, 230);
    padding: 2px;
}
#copy{
    font-family: Reenie Beanie;
    font-size: 50px;
    font-weight: 700;
    align-self: center;
    padding: 30px;
    margin: 30px;
}
.triangleUp {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 600px 150px 0;
    border-color: transparent hsl(6, 100%, 60%) transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    right: 0px;
    top: 0px;
 }
 .triangleDown {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 600px 150px 0;
    border-color: transparent hsl(6, 100%, 60%) transparent transparent;
    transform: rotateX(180deg);
    position: absolute;
    right: 0px;
    bottom: 0px;
    
 }